[Desktop Entry]
Version=0.2
Type=Application
Name=sf2generate
Comment=Minimal SF2 (SoundFont 2) writer 
Exec=sf2generate
Categories=AudioVideo;Audio;
MimeType=audio/mpeg;audio/wav;audio/aiff;application/ogg;audio/flac;audio/x-flac;
Terminal=false
X-NSM-Capable=false
X-NSM-Exec=sf2generate
Name[de_DE]=sf2generate
